@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

$primary: #f1c40f;
$secondary: #2e4053;
$ternary: #2ecc71;
$dark: #17202a;
$pure: #fdfefe;
$light: #e5e7e9;
$cool: #3498db;
$violet: #8e44ad;
$danger: #e74c3c;

$poppin: "Poppins", sans-serif;
